/********************
Splash
********************/
html, body {
	padding: 0;
	background-color: #fff;
}
.header-image {
        background: url(http://placehold.it/1200x4800) no-repeat;/* Use a tiling background image or a full width image - if you're using full width you will need to change no-repeat center center cover  */
        background-position: top;
        height: auto;
        display: block;
        width: 100%;
        text-align: center;
}

.headline {
        padding: 120px 0;
}

.headline > .container > h1 {
        font-size: 130px;
        background: #ffffff;
        background: rgba(255, 255, 255, 0.9);
}

.headline > .container > h2 {
        font-size: 77px;
        background: #ffffff;
        background: rgba(255, 255, 255, 0.9);
}

.container {
	height:100%;
	width:100%;
	position:relative;
    margin-right: auto;
    margin-left: auto;
}

.text-scroll {
 	width: 100%;	
	height: 325px;
	overflow: auto;
	margin-top: 4%;
	margin-bottom: 4%;
	margin-right: 0; 
	margin-left: 0; 
	padding-left: 2%;
	padding-right: 2%;
	font-size: 13;
	color: #000;
	letter-spacing: 1px;
    	background-color: #f6f6f5;
	border-style: solid;
    	border-width: 1px;
    	border-color: #d6d4d0;
.break-splash {
    font-family: "ff-meta-serif-web-pro", Arial, Times, "Times New Roman", serif;
    color: #666666;
    font-size: 40px;
    line-height: 40px;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center
}
.site-width-splash {
	max-width:1024px;
	width: 100%;
	margin: 0 auto;
	clear: left
}
.copy-width-splash {
	float: left;
	width: 91.5333%;
	margin-left: 9.23333%;
	clear: left;
	float: none;
	padding: 5%;
	margin-right: 0.9%;
	margin-bottom: 0;
}
#section-1 {
	background-size:cover;
	background-image: url('../img/zbrushes1.jpg');
	background-repeat: no-repeat;
	display: block;
	width: 100%;
}
#section-1 header {
	color:#FFF;
	position:absolute;
	top:30%;
	left:50%;
	margin:0 0 0 -350px;
	width:700px;
	text-align:center;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
	line-height:1.1;
	background-image: url();
}
#section-1 h1 {
	font-size:120px;
}
#section-1 h2 {
	text-transform:capitalize;
	opacity:.75;
	font-size:48px;
}
/* Section 2 */
#section-2 {
}
/* Section 3 */
#section-3 {
}    	
